* {
    margin: 0;
    padding: 0;
}

body {
    background-image:
        linear-gradient(
            to right,
            #E9EDF2 0px,
            #E9EDF2 210px,
            #E1E6EB 216px,
            #C5C9CE 217px,
            white 218px);
}