* {
    margin: 0;
    padding: 0;
}

body {
    background-image:
        linear-gradient(
            to right,
            #E9EDF2 0px,
            #E9EDF2 210px,
            #E1E6EB 216px,
            #C5C9CE 217px,
            white 218px);
}

h2 {
    color: #4F647E;
    font-weight: normal;
    font-size: 26px;
}

.bold {
    margin-left: 243px;
    font-weight: bold;
}

#homepage_type {
    margin-left: 60px;
}

#homepage_url {
    width: 300px;
    height: 24px;
    margin-left: 60px;
}